
$purple-50: hsl(260, 100%, 95%);
$purple-300: hsl(264, 82%, 80%);
$purple-500: hsl(263, 55%, 52%);


$white: hsl(0, 0%, 100%);
$grey-100: hsl(214, 17%, 92%);
$grey-200: hsl(0, 0%, 81%);
$grey-400: hsl(224, 10%, 45%);
$grey-500: hsl(217, 19%, 35%);
$dark-blue: hsl(219, 29%, 14%);
$black: hsl(0, 0%, 7%);

$font-weight-medium: 500;
$font-weight-semibold: 600;

$container-width: 1100px;

@mixin tablet {
  @media screen and (min-width: 600px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1200px) {
    @content;
  }
}




*,  *::after, *::before {
    box-sizing: border-box;
}   
html, body { height: 100%; }

body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    margin: 0;
    padding: 0;
    font-optical-sizing: auto;
    font-size: 0.8125rem;
    background-color: $grey-100;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}
img {
    max-width: 100%;
    height: auto;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
a {
    text-decoration: none;
    color: inherit;
}

.container {
    display: grid;
    gap: 1.5rem;
    width: 90%;
    max-width: $container-width;
    margin: 0 auto;


    @include tablet {
        grid-template-columns: repeat(2, 1fr);
        .card--wide {
            grid-column: span 2;
        }

        .card--tall {
            grid-row: span 2;
        }        
    }
    @include desktop {
        grid-template-columns: repeat(4, 1fr);
    }

}

.card{
    border-radius: 8px;
    box-shadow: 40px 50px 50px rgba(0, 0, 0, 0.2);
    padding: 1.5rem ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 1.5rem;

    &__avatar {
        width: 30px;
        height: 30px;
        border-radius: 50%;

        &--purple {
            border: 2px solid $purple-300;
        }
    }
    &__personalinfo {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
    }
    &__name {
        font-size: 0.9375rem;
        font-weight: $font-weight-semibold;

        &--purple {
            color: $purple-300 ;
        }
    }
    &__status {
        font-size: 0.8125rem;

        &--purple {
            color: $purple-300 ;
        }
    }
    &__title {
        font-size: 0.9375rem;
        font-weight: $font-weight-medium;

        &--purple {
            color: $white;
        }
    }
    &__message {
        font-size: 0.8125rem;

        &--purple {
            color: $purple-300;
        }
    }   
    &--purple {
        background-color: $purple-500;
        color: $white;
    }
    &--white {
        background-color: $white;
        color: $grey-500;
    }
    &--darkgrey {
        background-color: $grey-500;
        color: $white;
    }   
    &--darkblue {
        background-color: $dark-blue;
        color: $white;
    }
}