
@use "sass:map";

$purple-50: hsl(260, 100%, 95%);
$purple-300: hsl(264, 82%, 80%);
$purple-500: hsl(263, 55%, 52%);


$white: hsl(0, 0%, 100%);
$grey-100: hsl(214, 17%, 92%);
$grey-200: hsl(0, 0%, 81%);
$grey-400: hsl(224, 10%, 45%);
$grey-500: hsl(217, 19%, 35%);
$dark-blue: hsl(219, 29%, 14%);
$black: hsl(0, 0%, 7%);

$font-weight-medium: 500;
$font-weight-semibold: 600;

$container-width: 1120px;

@mixin tablet {
  @media screen and (min-width: 600px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1200px) {
    @content;
  }
}

// -----------------------------
//Theme map
// -----------------------------

$card-themes: (
  "purple": (
    bg: $purple-500,
    text: $purple-50,
    title: $white,
    image: url(../images/bg-pattern-quotation.svg),
    avatarboder: $purple-300
  ),
  "white": (
    bg: $white,
    text: $grey-500,
    title: $grey-500,
    image: none,
    avatarboder: none
  ),
  "darkgrey": (
    bg: $grey-500,
    text: $grey-200,
    title: $grey-100,
    image: none,
    avatarboder: $dark-blue
  ),
  "darkblue": (
    bg: $dark-blue,
    text:$grey-200,
    title: $grey-200,
    image: none,
    avatarboder: $purple-500
  )
);

@each $name, $theme in $card-themes {
  $bg: map.get($theme, bg);
  $text: map.get($theme, text);
  $title: map.get($theme, title);
  $image: map.get($theme, image);
  $avatarboder: map.get($theme, avatarboder);

  .card--#{$name} {
    --card-bg: #{$bg};
    --card-text: #{$text};
    --card-title: #{$title};
    --card-bg-image: #{$image};
    --card-avatar-border: #{$avatarboder};
  }
}


// -----------------------------
// GLOBAL STYLES
// -----------------------------


*,  *::after, *::before {
    box-sizing: border-box;
}   
html, body { height: 100%; }

body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    margin: 0;
    padding: 0;
    font-optical-sizing: auto;
    font-size: 0.8125rem;
    background-color: $grey-100;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}
img {
    max-width: 100%;
    height: auto;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
a {
    text-decoration: none;
    color: inherit;
}

.container {
    display: grid;
    gap: 1.9rem;
    width: min(90%, $container-width);
    margin-inline: auto;

    grid-template-columns: 1fr;


    @include tablet {
        grid-template-columns: repeat(2, 1fr);
        .card--wide {
            grid-column: span 2;
        }

        .card--tall {
            grid-row: span 2;
        }        
    }
    @include desktop {
        grid-template-columns: repeat(4, 1fr);
    }

}
// -----------------------------
// CARD COMPONENT
// -----------------------------

.card {
  border-radius: 8px;
  box-shadow: 40px 50px 50px rgba(0, 0, 0, 0.2);
  padding: 2rem 1.8rem;
  display: flex;
  flex-direction: column;
  gap: 1.1rem;

  background-color: var(--card-bg);
  background-image: var(--card-bg-image);
  background-repeat: no-repeat;
  background-position: 86% top;
  color: var(--card-text);

  &__header {
    display: flex;
    gap: 1rem;
  }

  &__avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid var(--card-avatar-border);
  }

  &__personalinfo {
    display: flex;
    flex-direction: column;
    gap: 1px;
  }

  &__name {
    font-size: 0.8125rem;
    font-weight: $font-weight-medium;
  }

  &__status {
    font-size: 0.7rem;
  }

  &__title {
    font-size: 1.25rem;
    font-weight: $font-weight-medium;
    color: var(--card-title);
  }

  &__message {
    font-size: 0.8125rem;
    width: 95%;
  }
}



